# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
ENV/

# ==========================
# Database
# ==========================
*.db
*.sqlite3

# ==========================
# Environment Variables
# ==========================
.env
.env.*

!.env.example

# ==========================
# Node
# ==========================
node_modules/
dist/
.vite/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db